svg:not(:root).svg-inline--fa {
  overflow: visible;
}

.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}

.svg-inline--fa.fa-lg {
  vertical-align: -0.225em;
}

.svg-inline--fa.fa-w-1 {
  width: 0.0625em;
}

.svg-inline--fa.fa-w-2 {
  width: 0.125em;
}

.svg-inline--fa.fa-w-3 {
  width: 0.1875em;
}

.svg-inline--fa.fa-w-4 {
  width: 0.25em;
}

.svg-inline--fa.fa-w-5 {
  width: 0.3125em;
}

.svg-inline--fa.fa-w-6 {
  width: 0.375em;
}

.svg-inline--fa.fa-w-7 {
  width: 0.4375em;
}

.svg-inline--fa.fa-w-8 {
  width: 0.5em;
}

.svg-inline--fa.fa-w-9 {
  width: 0.5625em;
}

.svg-inline--fa.fa-w-10 {
  width: 0.625em;
}

.svg-inline--fa.fa-w-11 {
  width: 0.6875em;
}

.svg-inline--fa.fa-w-12 {
  width: 0.75em;
}

.svg-inline--fa.fa-w-13 {
  width: 0.8125em;
}

.svg-inline--fa.fa-w-14 {
  width: 0.875em;
}

.svg-inline--fa.fa-w-15 {
  width: 0.9375em;
}

.svg-inline--fa.fa-w-16 {
  width: 1em;
}

.svg-inline--fa.fa-w-17 {
  width: 1.0625em;
}

.svg-inline--fa.fa-w-18 {
  width: 1.125em;
}

.svg-inline--fa.fa-w-19 {
  width: 1.1875em;
}

.svg-inline--fa.fa-w-20 {
  width: 1.25em;
}

.svg-inline--fa.fa-pull-left {
  margin-right: 0.3em;
  width: auto;
}

.svg-inline--fa.fa-pull-right {
  margin-left: 0.3em;
  width: auto;
}

.svg-inline--fa.fa-border {
  height: 1.5em;
}

.svg-inline--fa.fa-li {
  width: 2em;
}

.svg-inline--fa.fa-fw {
  width: 1.25em;
}

.fa-layers svg.svg-inline--fa {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.fa-layers {
  display: inline-block;
  height: 1em;
  position: relative;
  text-align: center;
  vertical-align: -0.125em;
  width: 1em;
}

.fa-layers svg.svg-inline--fa {
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

.fa-layers-counter,
.fa-layers-text {
  display: inline-block;
  position: absolute;
  text-align: center;
}

.fa-layers-text {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

.fa-layers-counter {
  background-color: #ff253a;
  border-radius: 1em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  height: 1.5em;
  line-height: 1;
  max-width: 5em;
  min-width: 1.5em;
  overflow: hidden;
  padding: 0.25em;
  right: 0;
  text-overflow: ellipsis;
  top: 0;
  -webkit-transform: scale(0.25);
  transform: scale(0.25);
  -webkit-transform-origin: top right;
  transform-origin: top right;
}

.fa-layers-bottom-right {
  bottom: 0;
  right: 0;
  top: auto;
  -webkit-transform: scale(0.25);
  transform: scale(0.25);
  -webkit-transform-origin: bottom right;
  transform-origin: bottom right;
}

.fa-layers-bottom-left {
  bottom: 0;
  left: 0;
  right: auto;
  top: auto;
  -webkit-transform: scale(0.25);
  transform: scale(0.25);
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
}

.fa-layers-top-right {
  right: 0;
  top: 0;
  -webkit-transform: scale(0.25);
  transform: scale(0.25);
  -webkit-transform-origin: top right;
  transform-origin: top right;
}

.fa-layers-top-left {
  left: 0;
  right: auto;
  top: 0;
  -webkit-transform: scale(0.25);
  transform: scale(0.25);
  -webkit-transform-origin: top left;
  transform-origin: top left;
}

.fa-lg {
  font-size: 1.3333333333em;
  line-height: 0.75em;
  vertical-align: -0.0667em;
}

.fa-xs {
  font-size: 0.75em;
}

.fa-sm {
  font-size: 0.875em;
}

.fa-1x {
  font-size: 1em;
}

.fa-2x {
  font-size: 2em;
}

.fa-3x {
  font-size: 3em;
}

.fa-4x {
  font-size: 4em;
}

.fa-5x {
  font-size: 5em;
}

.fa-6x {
  font-size: 6em;
}

.fa-7x {
  font-size: 7em;
}

.fa-8x {
  font-size: 8em;
}

.fa-9x {
  font-size: 9em;
}

.fa-10x {
  font-size: 10em;
}

.fa-fw {
  text-align: center;
  width: 1.25em;
}

.fa-ul {
  list-style-type: none;
  margin-left: 2.5em;
  padding-left: 0;
}

.fa-ul > li {
  position: relative;
}

.fa-li {
  left: -2em;
  position: absolute;
  text-align: center;
  width: 2em;
  line-height: inherit;
}

.fa-border {
  border: solid 0.08em #eee;
  border-radius: 0.1em;
  padding: 0.2em 0.25em 0.15em;
}

.fa-pull-left {
  float: left;
}

.fa-pull-right {
  float: right;
}

.fa.fa-pull-left,
.fas.fa-pull-left,
.far.fa-pull-left,
.fal.fa-pull-left,
.fab.fa-pull-left {
  margin-right: 0.3em;
}

.fa.fa-pull-right,
.fas.fa-pull-right,
.far.fa-pull-right,
.fal.fa-pull-right,
.fab.fa-pull-right {
  margin-left: 0.3em;
}

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  transform: scale(1, -1);
}

.fa-flip-both,
.fa-flip-horizontal.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(-1, -1);
  transform: scale(-1, -1);
}

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical,
:root .fa-flip-both {
  -webkit-filter: none;
  filter: none;
}

.fa-stack {
  display: inline-block;
  height: 2em;
  position: relative;
  width: 2.5em;
}

.fa-stack-1x,
.fa-stack-2x {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.svg-inline--fa.fa-stack-1x {
  height: 1em;
  width: 1.25em;
}

.svg-inline--fa.fa-stack-2x {
  height: 2em;
  width: 2.5em;
}

.fa-inverse {
  color: #fff;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.svg-inline--fa .fa-primary {
  fill: var(--fa-primary-color, currentColor);
  opacity: 1;
  opacity: var(--fa-primary-opacity, 1);
}

.svg-inline--fa .fa-secondary {
  fill: var(--fa-secondary-color, currentColor);
  opacity: 0.4;
  opacity: var(--fa-secondary-opacity, 0.4);
}

.svg-inline--fa.fa-swap-opacity .fa-primary {
  opacity: 0.4;
  opacity: var(--fa-secondary-opacity, 0.4);
}

.svg-inline--fa.fa-swap-opacity .fa-secondary {
  opacity: 1;
  opacity: var(--fa-primary-opacity, 1);
}

.svg-inline--fa mask .fa-primary,
.svg-inline--fa mask .fa-secondary {
  fill: black;
}

.fad.fa-inverse {
  color: #fff;
}

code[class*="language-"],
pre[class*="language-"] {
  color: #f92aad;
  text-shadow: 0 0 2px #100c0f, 0 0 5px rgba(220, 7, 142, 0.2),
    0 0 10px hsla(0, 0%, 100%, 0.2);
  background: none;
  font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background-color: transparent !important;
  background-image: linear-gradient(180deg, #2a2139 75%, #34294f);
}

:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.block-comment,
.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
  color: #8e8e8e;
}

.token.punctuation {
  color: #ccc;
}

.token.attr-name,
.token.deleted,
.token.hexcode,
.token.namespace,
.token.number,
.token.tag,
.token.unit {
  color: #e2777a;
}

.token.property,
.token.selector {
  color: #72f1b8;
  text-shadow: 0 0 2px #100c0f, 0 0 10px rgba(37, 124, 85, 0.46),
    0 0 35px rgba(33, 39, 36, 0.46);
}

.token.function-name {
  color: #6196cc;
}

.token.boolean,
.token.function,
.token.selector .token.id {
  color: #fdfdfd;
  text-shadow: 0 0 2px #001716, 0 0 3px rgba(3, 237, 249, 0.46),
    0 0 5px rgba(3, 237, 249, 0.46), 0 0 8px rgba(3, 237, 249, 0.46);
}

.token.class-name {
  color: #fff5f6;
  text-shadow: 0 0 2px #000, 0 0 10px rgba(252, 31, 44, 0.46),
    0 0 5px rgba(252, 31, 44, 0.46), 0 0 25px rgba(252, 31, 44, 0.46);
}

.token.constant,
.token.symbol {
  color: #f92aad;
  text-shadow: 0 0 2px #100c0f, 0 0 5px rgba(220, 7, 142, 0.2),
    0 0 10px hsla(0, 0%, 100%, 0.2);
}

.token.atrule,
.token.builtin,
.token.important,
.token.keyword,
.token.selector .token.class {
  color: #f4eee4;
  text-shadow: 0 0 2px #393a33, 0 0 8px rgba(243, 159, 5, 0.46),
    0 0 2px rgba(243, 159, 5, 0.46);
}

.token.attr-value,
.token.char,
.token.regex,
.token.string,
.token.variable {
  color: #f87c32;
}

.token.entity,
.token.operator,
.token.url {
  color: #67cdcc;
}

.token.bold,
.token.important {
  font-weight: 700;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: green;
}

.footer-module--footer--R2bpz {
  margin-top: 3rem;
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--lightText);
  text-align: center;
}

.footer-module--footer--R2bpz a {
  color: var(--lightText);
  transition: color 0.3s ease-in-out;
}

.footer-module--footer--R2bpz a:hover {
  color: indigo;
}

.footer-module--social--2HcUH {
  font-size: 1.2rem;
}

.footer-module--social--2HcUH a {
  margin: 0 0.25rem;
}

.footer-module--social--2HcUH a:hover {
  color: var(--textLink);
}

.footer-module--line--2DdAl {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.footer-module--line--2DdAl img,
.footer-module--line--2DdAl svg {
  margin: 0 0.25rem;
  display: inline-block;
}

.footer-module--line--2DdAl a {
  display: flex;
}

.footer-module--small--30Rsj {
  font-size: 0.7rem;
  color: var(--textNormal);
}

.footer-module--heart--2-pIq {
  color: var(--custom-red);
}

.footer-module--gatsby-logo--164kp {
  height: 20px;
  display: inline-block;
}

@media screen and (max-width: 500px) {
  .header-module--header--3A712 {
    padding: 0;
  }
}

@media screen and (min-width: 501px) and (max-width: 750px) {
  .header-module--header--3A712 {
    padding: 1rem 0;
  }
}

@media screen and (min-width: 751px) {
  .header-module--header--3A712 {
    padding: 3rem 0;
  }
}

.header-module--title--33kOg {
  text-decoration: none;
  color: var(--textNormal);
  background: linear-gradient(90deg, #e48a28 0, #cc4856 50%, #6e3a6c);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 500px) {
  .header-module--title--33kOg {
    font-size: 2rem;
  }
}

@media screen and (min-width: 501px) and (max-width: 750px) {
  .header-module--title--33kOg {
    font-size: 3rem;
  }
}

@media screen and (min-width: 751px) {
  .header-module--title--33kOg {
    font-size: 4.5rem;
  }
}

.header-module--title-after--1mSlX {
  color: var(--lighterText);
  margin-left: 0.5rem;
}

@media screen and (max-width: 500px) {
  .header-module--title-after--1mSlX {
    font-size: 2rem;
  }
}

@media screen and (min-width: 501px) and (max-width: 750px) {
  .header-module--title-after--1mSlX {
    font-size: 3rem;
  }
}

@media screen and (min-width: 751px) {
  .header-module--title-after--1mSlX {
    font-size: 4.5rem;
  }
}

.header-module--menu--c8SGc {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1.5rem;
  display: none;
}

@media screen and (min-width: 501px) {
  .header-module--menu--c8SGc {
    display: none;
  }
}

.header-module--nav-list--87D9u {
  display: flex;
  list-style-type: none;
  margin: 0;
  flex-wrap: wrap;
}

.header-module--nav-item--1ixk0 {
  color: #999;
  font-size: 0.9rem;
  margin-right: 1.3rem;
  text-transform: uppercase;
  color: var(--lightText);
  text-decoration: none;
  font-weight: 300;
  font-weight: 700;
}

.header-module--active-nav-item--26N0B,
.header-module--nav-item--1ixk0:hover {
  color: var(--textNormal);
}

.header-module--darkMode--6VZCD {
  color: var(--lightText);
  cursor: pointer;
}

.header-module--lightMode--kVtZt {
  color: #fce683;
  cursor: pointer;
}

.header-module--darkModeInput--xHVBP,
.header-module--invisible--1MGB6 {
  opacity: 0;
  position: absolute;
}

.header-module--starArea--34Jc9 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 33vh;
  z-index: -1;
  overflow: hidden;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0.5)),
    to(transparent)
  );
}

@media screen and (max-width: 750px) {
  .header-module--starArea--34Jc9 {
    display: none;
  }
}

.language-text {
  background-image: linear-gradient(
    180deg,
    var(--secondaryBg) 50%,
    var(--secondaryBg)
  ) !important;
  color: var(--textNormal) !important;
  text-shadow: none !important;
}

.svg-inline--fa {
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
}

.Cursor {
  opacity: 0.25;
}

body.dark {
  -webkit-font-smoothing: antialiased;
  --bg: #15202b;
  --secondaryBg: #243447;
  --secondaryBgHeavy: #eee;
  --textNormal: hsla(0, 0%, 100%, 0.88);
  --lightText: hsla(0, 0%, 100%, 0.5);
  --lighterText: hsla(0, 0%, 100%, 0.35);
  --slightlyLighterText: hsla(0, 0%, 100%, 0.6);
  --textLink: #1da1f2;
}

#gatsby-plugin-page-progress {
  background: linear-gradient(90deg, #e48a28 0, #cc4856 50%, #6e3a6c);
}

.layout-module--language-text--3XIJa {
  background-image: linear-gradient(
    180deg,
    var(--secondaryBg) 50%,
    var(--secondaryBg)
  ) !important;
  color: var(--textNormal) !important;
  text-shadow: none !important;
}

.layout-module--svg-inline--fa--30R63 {
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
}

.layout-module--Cursor--33upD {
  opacity: 0.25;
}

body.layout-module--dark--1TCR2 {
  -webkit-font-smoothing: antialiased;
  --bg: #15202b;
  --secondaryBg: #243447;
  --secondaryBgHeavy: #eee;
  --textNormal: hsla(0, 0%, 100%, 0.88);
  --lightText: hsla(0, 0%, 100%, 0.5);
  --lighterText: hsla(0, 0%, 100%, 0.35);
  --slightlyLighterText: hsla(0, 0%, 100%, 0.6);
  --textLink: #1da1f2;
}

#layout-module--gatsby-plugin-page-progress--2NJ1n {
  background: linear-gradient(90deg, #e48a28 0, #cc4856 50%, #6e3a6c);
}

.layout-module--container--2TGku {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  max-width: 750px;
  padding: 1rem;
}

.layout-module--content--3nIku {
  flex-grow: 1;
}

._404-module--container--2kCC_ {
  text-align: center;
}

._404-module--container--2kCC_ h1 {
  font-size: 5rem;
  color: var(--lightText);
}

._404-module--container--2kCC_ h2 {
  font-size: 2.5rem;
  color: var(--textNormal);
}

.index-module--heart--2QORB {
  color: var(--custom-red);
}

.index-module--profilePicture--1TE9o {
  height: 2.5rem;
  border-radius: 50%;
  margin-left: 5px;
  margin-bottom: -5px;
}

.index-module--posts--3Rb4I {
  display: flex;
  flex-wrap: wrap;
}

.index-module--more-posts--Fgofx {
  margin-top: 1rem;
  width: 100%;
  text-align: center;
}

.index-module--title--1LAhw {
  margin-top: 3rem;
}

.index-module--wave--1raQG {
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-name: index-module--wave--1raQG;
  display: inline-block;
  transform-origin: 70% 70%;
}

@keyframes index-module--wave--1raQG {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(12deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(9deg);
  }
  50% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.main-module--language-text--278Z_ {
  background-image: linear-gradient(
    180deg,
    var(--secondaryBg) 50%,
    var(--secondaryBg)
  ) !important;
  color: var(--textNormal) !important;
  text-shadow: none !important;
}

.main-module--svg-inline--fa--3uDRo {
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
}

.main-module--Cursor--pPcFB {
  opacity: 0.25;
}

body.main-module--dark--22YTN {
  -webkit-font-smoothing: antialiased;
  --bg: #15202b;
  --secondaryBg: #243447;
  --secondaryBgHeavy: #eee;
  --textNormal: hsla(0, 0%, 100%, 0.88);
  --lightText: hsla(0, 0%, 100%, 0.5);
  --lighterText: hsla(0, 0%, 100%, 0.35);
  --slightlyLighterText: hsla(0, 0%, 100%, 0.6);
  --textLink: #1da1f2;
}

#main-module--gatsby-plugin-page-progress--1KBoZ {
  background: linear-gradient(90deg, #e48a28 0, #cc4856 50%, #6e3a6c);
}

.main-module--link--2kFqk {
  color: var(--textLink);
  font-weight: 700;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 0.3s ease-in-out;
}

.main-module--link--2kFqk:hover {
  border-bottom-color: var(--textLink);
}

.main-module--container--1lrTs h1 {
  color: var(--lighterText);
}

@media screen and (max-width: 500px) {
  .main-module--container--1lrTs h1 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 501px) and (max-width: 750px) {
  .main-module--container--1lrTs h1 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 751px) {
  .main-module--container--1lrTs h1 {
    font-size: 3rem;
  }
}

.main-module--container--1lrTs h2 {
  color: var(--textNormal);
}

@media screen and (max-width: 500px) {
  .main-module--container--1lrTs h2 {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 501px) and (max-width: 750px) {
  .main-module--container--1lrTs h2 {
    font-size: 2.2rem;
  }
}

@media screen and (min-width: 751px) {
  .main-module--container--1lrTs h2 {
    font-size: 2.5rem;
  }
}

.main-module--container--1lrTs h3 {
  color: var(--lightText);
}

@media screen and (max-width: 500px) {
  .main-module--container--1lrTs h3 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 501px) and (max-width: 750px) {
  .main-module--container--1lrTs h3 {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 751px) {
  .main-module--container--1lrTs h3 {
    font-size: 1.8rem;
  }
}

.main-module--post-content--nbETk a {
  color: var(--textLink);
  font-weight: 700;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 0.3s ease-in-out;
}

.main-module--post-content--nbETk a:hover {
  border-bottom-color: var(--textLink);
}

.main-module--post-content--nbETk img {
  border-radius: 8px;
}

.main-module--post-content--nbETk pre {
  border-radius: 8px;
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.2);
  margin: 2rem 0;
  font-size: 0.9rem;
}

.main-module--post-content--nbETk pre code {
  padding: 0 !important;
}

.main-module--post-content--nbETk pre code.main-module--language-text--278Z_ {
  background: var(--secondaryBg) !important;
}

.main-module--post-content--nbETk pre {
  border-radius: 0.5rem;
  transition: border-radius 0.5s;
}

.main-module--post-content--nbETk pre.main-module--language-text--278Z_,
.main-module--post-content--nbETk pre.main-module--language-text--278Z_ code {
  background: var(--secondaryBg) !important;
}

.main-module--post-content--nbETk del {
  color: var(--lighterText);
}

.main-module--post-content--nbETk h1,
.main-module--post-content--nbETk h2,
.main-module--post-content--nbETk h3,
.main-module--post-content--nbETk h4,
.main-module--post-content--nbETk h5,
.main-module--post-content--nbETk h6 {
  color: var(--textNormal);
  position: relative;
  transition: all 0.5s ease-in-out;
}

.main-module--post-content--nbETk h1:before,
.main-module--post-content--nbETk h2:before,
.main-module--post-content--nbETk h3:before,
.main-module--post-content--nbETk h4:before,
.main-module--post-content--nbETk h5:before,
.main-module--post-content--nbETk h6:before {
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  opacity: 0;
  color: #6e3a6c;
  background: linear-gradient(90deg, #e48a28 0, #cc4856 50%, #6e3a6c);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-module--post-content--nbETk h1:hover,
.main-module--post-content--nbETk h2:hover,
.main-module--post-content--nbETk h3:hover,
.main-module--post-content--nbETk h4:hover,
.main-module--post-content--nbETk h5:hover,
.main-module--post-content--nbETk h6:hover {
  color: var(--textNormal);
}

.main-module--post-content--nbETk h1:hover:before,
.main-module--post-content--nbETk h2:hover:before,
.main-module--post-content--nbETk h3:hover:before,
.main-module--post-content--nbETk h4:hover:before,
.main-module--post-content--nbETk h5:hover:before,
.main-module--post-content--nbETk h6:hover:before {
  opacity: 1;
}

.main-module--post-content--nbETk h2:hover {
  padding-left: 45px;
}

.main-module--post-content--nbETk h2:before {
  margin-left: -45px;
  content: "##";
}

.main-module--post-content--nbETk h3:hover {
  padding-left: 55px;
}

.main-module--post-content--nbETk h3:before {
  margin-left: -55px;
  content: "###";
}

.main-module--post-content--nbETk h4:hover {
  padding-left: 50px;
}

.main-module--post-content--nbETk h4:before {
  margin-left: -50px;
  content: "####";
}

.main-module--post-content--nbETk h5:hover {
  padding-left: 52px;
}

.main-module--post-content--nbETk h5:before {
  margin-left: -52px;
  content: "#####";
}

.main-module--post-content--nbETk h6:hover {
  padding-left: 55px;
}

.main-module--post-content--nbETk h6:before {
  margin-left: -55px;
  content: "######";
}

.main-module--post-content--nbETk p {
  color: var(--slightlyLighterText);
}

.main-module--post-content--nbETk p em,
.main-module--post-content--nbETk p strong {
  color: var(--textNormal);
}

.main-module--post-content--nbETk ol,
.main-module--post-content--nbETk ul {
  color: var(--slightlyLighterText);
}

.main-module--post-content--nbETk code {
  padding: 4px 8px !important;
}

.main-module--post-content--nbETk code:after,
.main-module--post-content--nbETk code:before {
  display: none;
}

.main-module--post-content--nbETk blockquote {
  border-right: 0;
  border-left-width: 3px;
  border-style: solid;
  -o-border-image: linear-gradient(180deg, #e48a28 0, #cc4856 50%, #6e3a6c) 1
    100%;
  border-image: linear-gradient(180deg, #e48a28 0, #cc4856 50%, #6e3a6c) 1 100%;
  padding-left: 2.5rem;
}

.main-module--post-content--nbETk blockquote:before {
  margin-left: -2rem;
  content: "\201C";
  font-family: Georgia, serif;
  font-size: 3.5rem;
  font-weight: 700;
  color: var(--lighterText);
  position: absolute;
}

.main-module--table--2lgYB tr:last-child td {
  border: 0;
}

.main-module--table--2lgYB td {
  border-color: var(--lighterText);
}

.main-module--table--2lgYB td:first-child {
  font-weight: 700;
}

.main-module--button--26f6c {
  display: inline-block;
  border: 2px solid var(--textLink);
  color: var(--textLink);
  padding: 0.5rem 1rem;
  border-radius: 100px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

.main-module--button--26f6c:hover {
  background: var(--textLink);
  color: #fff;
}

.main-module--monospace--1CwPJ {
  font-family: monospace;
}

.main-module--center--y2ykR {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.main-module--gradientText--1rxOC {
  color: #6e3a6c;
  background: linear-gradient(90deg, #e48a28 0, #cc4856 50%, #6e3a6c);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-module--card--33dPs {
  background: var(--secondaryBg);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 10px 20px 1px rgba(0, 0, 0, 0.2);
}

.main-module--card--33dPs h1 {
  color: var(--textLink);
}

.main-module--formFields--3QInO {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.main-module--formField--1QHai {
  box-sizing: border-box;
  width: 200px;
  padding: 0.5rem;
}

@media screen and (max-width: 750px) {
  .main-module--formField--1QHai {
    width: 100%;
  }
}

@media screen and (min-width: 751px) {
  .main-module--formField--1QHai {
    width: 50%;
  }
}

.main-module--formField--1QHai input {
  border: 0;
  outline: 0;
  border-radius: 0.25rem;
  background: #fff;
  border: 2px solid var(--textLink);
  padding: 0.25rem;
  width: 100%;
}

.main-module--formField--1QHai span {
  display: block;
  font-size: 0.8rem;
  font-weight: 700;
}

.contact-module--icons--whoi2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 4rem;
}

.contact-module--icon-link--2FOGD {
  margin: 1rem 0;
  display: flex;
  font-size: 2.5rem;
  color: #fff;
  border-radius: 3rem;
  width: 4rem;
  height: 4rem;
  justify-content: center;
  align-items: center;
  position: relative;
  background: var(--textLink);
  transition: background 0.3s ease-in-out;
}

.contact-module--icon-link--2FOGD:before {
  top: 0;
  left: 0;
  content: " ";
  position: absolute;
  border-radius: 3rem;
  width: 4rem;
  height: 4rem;
  background: red;
  z-index: -1;
  background: linear-gradient(90deg, #e48a28 0, #cc4856 50%, #6e3a6c);
}

.contact-module--icon-link--2FOGD:hover {
  background: transparent;
}

.contact-module--icon-link--2FOGD:hover h1 {
  opacity: 1;
}

.projects-module--about--8kvqO h1 {
  margin-bottom: 3rem;
}

.projects-module--profilePicture--1hXyq {
  position: relative;
  width: 150px;
  border-radius: 50%;
  margin-right: 2rem;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 750px) {
  .projects-module--profilePicture--1hXyq {
    margin: 4rem 0;
  }
}

.projects-module--intro--3Xhnu {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 750px) {
  .projects-module--intro--3Xhnu {
    flex-direction: column;
  }
}

.projects-module--introText--3yzkG {
  flex: 1 1;
}

.projects-module--gradientLine--1_oLK {
  background: linear-gradient(90deg, #e48a28 0, #cc4856 50%, #6e3a6c);
  height: 1px;
  margin: 4rem 0;
}

.projects-module--skills--2sLDh {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.projects-module--skill-icons--dnlaZ {
  margin: 20px;
  color: grey;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

progress {
  vertical-align: baseline;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}

optgroup {
  font-weight: 700;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

html {
  font: 112.5%/1.45em georgia, serif;
  overflow-y: scroll;
}

*,
:after,
:before,
html {
  box-sizing: border-box;
}

body {
  transition: all 0.3s linear;
  color: var(--textNormal);
  font-family: sans-serif;
  font-weight: 400;
  word-wrap: break-word;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

img {
  max-width: 100%;
  padding: 0;
  margin: 0 0 1.45rem;
}

h1 {
  font-size: 2.25rem;
}

h1,
h2 {
  padding: 0;
  margin: 0 0 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
}

h2 {
  font-size: 1.62671rem;
}

h3 {
  font-size: 1.38316rem;
}

h3,
h4 {
  padding: 0;
  margin: 0 0 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.85028rem;
}

h5,
h6 {
  padding: 0;
  margin: 0 0 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
}

h6 {
  font-size: 0.78405rem;
}

hgroup {
  padding: 0;
  margin: 0 0 1.45rem;
}

ol,
ul {
  padding: 0;
  margin: 0 0 1.45rem 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}

dd,
dl,
figure,
p {
  padding: 0;
  margin: 0 0 1.45rem;
}

pre {
  margin: 0 0 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}

table {
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}

fieldset,
table {
  padding: 0;
  margin: 0 0 1.45rem;
}

blockquote {
  padding: 0;
  margin: 0 1.45rem 1.45rem;
}

form,
iframe,
noscript {
  padding: 0;
  margin: 0 0 1.45rem;
}

hr {
  padding: 0;
  margin: 0 0 calc(1.45rem - 1px);
  background: rgba(0, 0, 0, 0.2);
  border: none;
  height: 1px;
}

address {
  padding: 0;
  margin: 0 0 1.45rem;
}

b,
dt,
strong,
th {
  font-weight: 700;
}

li {
  margin-bottom: 0.725rem;
}

ol li,
ul li {
  padding-left: 0;
}

li > ol,
li > ul {
  margin-left: 1.45rem;
  margin-bottom: 0.725rem;
  margin-top: 0.725rem;
}

blockquote:last-child,
li:last-child,
p:last-child {
  margin-bottom: 0;
}

li > p {
  margin-bottom: 0.725rem;
}

code,
kbd,
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}

abbr,
abbr[title],
acronym {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
  cursor: help;
}

abbr[title] {
  text-decoration: none;
}

td,
th,
thead {
  text-align: left;
}

td,
th {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding: 0.725rem 0.96667rem calc(0.725rem - 1px);
}

td:first-child,
th:first-child {
  padding-left: 0;
}

td:last-child,
th:last-child {
  padding-right: 0;
}

code,
tt {
  border-radius: 3px;
  font-family: SFMono-Regular, Consolas, Roboto Mono, Droid Sans Mono,
    Liberation Mono, Menlo, Courier, monospace;
  padding: 0.2em 0;
}

pre code {
  background: none;
  line-height: 1.42;
}

code:after,
code:before,
tt:after,
tt:before {
  letter-spacing: -0.2em;
  content: " ";
}

pre code:after,
pre code:before,
pre tt:after,
pre tt:before {
  content: "";
}

.lifeEvent-module--language-text--poH8R {
  background-image: linear-gradient(
    180deg,
    var(--secondaryBg) 50%,
    var(--secondaryBg)
  ) !important;
  color: var(--textNormal) !important;
  text-shadow: none !important;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

.lifeEvent-module--svg-inline--fa--1Rkw9 {
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
}

.lifeEvent-module--Cursor--1bENV {
  opacity: 0.25;
}

:root {
  --custom-red: #e74c3c;
}

body {
  --bg: #fff;
  --secondaryBg: #fff;
  --secondaryBgHeavy: #fff;
  --textNormal: #222;
  --lightText: rgba(0, 0, 0, 0.45);
  --slightlyLighterText: rgba(0, 0, 0, 0.8);
  --lighterText: rgba(0, 0, 0, 0.35);
  --textLink: #691375;
  background-color: var(--bg);
}

body.lifeEvent-module--dark--iuAFU {
  -webkit-font-smoothing: antialiased;
  --bg: #15202b;
  --secondaryBg: #243447;
  --secondaryBgHeavy: #eee;
  --textNormal: hsla(0, 0%, 100%, 0.88);
  --lightText: hsla(0, 0%, 100%, 0.5);
  --lighterText: hsla(0, 0%, 100%, 0.35);
  --slightlyLighterText: hsla(0, 0%, 100%, 0.6);
  --textLink: #1da1f2;
}

#lifeEvent-module--gatsby-plugin-page-progress--ns4UU {
  background: linear-gradient(90deg, #e48a28 0, #cc4856 50%, #6e3a6c);
}

.lifeEvent-module--link--ZGHSn {
  color: var(--textLink);
  font-weight: 700;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 0.3s ease-in-out;
}

.lifeEvent-module--link--ZGHSn:hover {
  border-bottom-color: var(--textLink);
}

.lifeEvent-module--container--16joc h1 {
  color: var(--lighterText);
}

@media screen and (max-width: 500px) {
  .lifeEvent-module--container--16joc h1 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 501px) and (max-width: 750px) {
  .lifeEvent-module--container--16joc h1 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 751px) {
  .lifeEvent-module--container--16joc h1 {
    font-size: 3rem;
  }
}

.lifeEvent-module--container--16joc h2 {
  color: var(--textNormal);
}

@media screen and (max-width: 500px) {
  .lifeEvent-module--container--16joc h2 {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 501px) and (max-width: 750px) {
  .lifeEvent-module--container--16joc h2 {
    font-size: 2.2rem;
  }
}

@media screen and (min-width: 751px) {
  .lifeEvent-module--container--16joc h2 {
    font-size: 2.5rem;
  }
}

.lifeEvent-module--container--16joc h3 {
  color: var(--lightText);
}

@media screen and (max-width: 500px) {
  .lifeEvent-module--container--16joc h3 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 501px) and (max-width: 750px) {
  .lifeEvent-module--container--16joc h3 {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 751px) {
  .lifeEvent-module--container--16joc h3 {
    font-size: 1.8rem;
  }
}

.lifeEvent-module--post-content--q9lW6 a {
  color: var(--textLink);
  font-weight: 700;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 0.3s ease-in-out;
}

.lifeEvent-module--post-content--q9lW6 a:hover {
  border-bottom-color: var(--textLink);
}

.lifeEvent-module--post-content--q9lW6 img {
  border-radius: 8px;
}

.lifeEvent-module--post-content--q9lW6 pre {
  border-radius: 8px;
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.2);
  margin: 2rem 0;
  font-size: 0.9rem;
}

.lifeEvent-module--post-content--q9lW6 pre code {
  padding: 0 !important;
}

.lifeEvent-module--post-content--q9lW6
  pre
  code.lifeEvent-module--language-text--poH8R {
  background: var(--secondaryBg) !important;
}

.lifeEvent-module--post-content--q9lW6 pre {
  border-radius: 0.5rem;
  transition: border-radius 0.5s;
}

.lifeEvent-module--post-content--q9lW6
  pre.lifeEvent-module--language-text--poH8R,
.lifeEvent-module--post-content--q9lW6
  pre.lifeEvent-module--language-text--poH8R
  code {
  background: var(--secondaryBg) !important;
}

.lifeEvent-module--post-content--q9lW6 del {
  color: var(--lighterText);
}

.lifeEvent-module--post-content--q9lW6 h1,
.lifeEvent-module--post-content--q9lW6 h2,
.lifeEvent-module--post-content--q9lW6 h3,
.lifeEvent-module--post-content--q9lW6 h4,
.lifeEvent-module--post-content--q9lW6 h5,
.lifeEvent-module--post-content--q9lW6 h6 {
  color: var(--textNormal);
  position: relative;
  transition: all 0.5s ease-in-out;
}

.lifeEvent-module--post-content--q9lW6 h1:before,
.lifeEvent-module--post-content--q9lW6 h2:before,
.lifeEvent-module--post-content--q9lW6 h3:before,
.lifeEvent-module--post-content--q9lW6 h4:before,
.lifeEvent-module--post-content--q9lW6 h5:before,
.lifeEvent-module--post-content--q9lW6 h6:before {
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  opacity: 0;
  color: #6e3a6c;
  background: linear-gradient(90deg, #e48a28 0, #cc4856 50%, #6e3a6c);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lifeEvent-module--post-content--q9lW6 h1:hover,
.lifeEvent-module--post-content--q9lW6 h2:hover,
.lifeEvent-module--post-content--q9lW6 h3:hover,
.lifeEvent-module--post-content--q9lW6 h4:hover,
.lifeEvent-module--post-content--q9lW6 h5:hover,
.lifeEvent-module--post-content--q9lW6 h6:hover {
  color: var(--textNormal);
}

.lifeEvent-module--post-content--q9lW6 h1:hover:before,
.lifeEvent-module--post-content--q9lW6 h2:hover:before,
.lifeEvent-module--post-content--q9lW6 h3:hover:before,
.lifeEvent-module--post-content--q9lW6 h4:hover:before,
.lifeEvent-module--post-content--q9lW6 h5:hover:before,
.lifeEvent-module--post-content--q9lW6 h6:hover:before {
  opacity: 1;
}

.lifeEvent-module--post-content--q9lW6 h2:hover {
  padding-left: 45px;
}

.lifeEvent-module--post-content--q9lW6 h2:before {
  margin-left: -45px;
  content: "##";
}

.lifeEvent-module--post-content--q9lW6 h3:hover {
  padding-left: 55px;
}

.lifeEvent-module--post-content--q9lW6 h3:before {
  margin-left: -55px;
  content: "###";
}

.lifeEvent-module--post-content--q9lW6 h4:hover {
  padding-left: 50px;
}

.lifeEvent-module--post-content--q9lW6 h4:before {
  margin-left: -50px;
  content: "####";
}

.lifeEvent-module--post-content--q9lW6 h5:hover {
  padding-left: 52px;
}

.lifeEvent-module--post-content--q9lW6 h5:before {
  margin-left: -52px;
  content: "#####";
}

.lifeEvent-module--post-content--q9lW6 h6:hover {
  padding-left: 55px;
}

.lifeEvent-module--post-content--q9lW6 h6:before {
  margin-left: -55px;
  content: "######";
}

.lifeEvent-module--post-content--q9lW6 p {
  color: var(--slightlyLighterText);
}

.lifeEvent-module--post-content--q9lW6 p em,
.lifeEvent-module--post-content--q9lW6 p strong {
  color: var(--textNormal);
}

.lifeEvent-module--post-content--q9lW6 ol,
.lifeEvent-module--post-content--q9lW6 ul {
  color: var(--slightlyLighterText);
}

.lifeEvent-module--post-content--q9lW6 code {
  padding: 4px 8px !important;
}

.lifeEvent-module--post-content--q9lW6 code:after,
.lifeEvent-module--post-content--q9lW6 code:before {
  display: none;
}

.lifeEvent-module--post-content--q9lW6 blockquote {
  border-right: 0;
  border-left-width: 3px;
  border-style: solid;
  -o-border-image: linear-gradient(180deg, #e48a28 0, #cc4856 50%, #6e3a6c) 1
    100%;
  border-image: linear-gradient(180deg, #e48a28 0, #cc4856 50%, #6e3a6c) 1 100%;
  padding-left: 2.5rem;
}

.lifeEvent-module--post-content--q9lW6 blockquote:before {
  margin-left: -2rem;
  content: "\201C";
  font-family: Georgia, serif;
  font-size: 3.5rem;
  font-weight: 700;
  color: var(--lighterText);
  position: absolute;
}

.lifeEvent-module--table--11PR5 tr:last-child td {
  border: 0;
}

.lifeEvent-module--table--11PR5 td {
  border-color: var(--lighterText);
}

.lifeEvent-module--table--11PR5 td:first-child {
  font-weight: 700;
}

.lifeEvent-module--button--sHo4i {
  display: inline-block;
  border: 2px solid var(--textLink);
  color: var(--textLink);
  padding: 0.5rem 1rem;
  border-radius: 100px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

.lifeEvent-module--button--sHo4i:hover {
  background: var(--textLink);
  color: #fff;
}

.lifeEvent-module--monospace--2cE7i {
  font-family: monospace;
}

.lifeEvent-module--center--1XMRk {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.lifeEvent-module--gradientText--3RBHs {
  color: #6e3a6c;
  background: linear-gradient(90deg, #e48a28 0, #cc4856 50%, #6e3a6c);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lifeEvent-module--card--PSP5s {
  background: var(--secondaryBg);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 10px 20px 1px rgba(0, 0, 0, 0.2);
}

.lifeEvent-module--card--PSP5s h1 {
  color: var(--textLink);
}

.lifeEvent-module--formFields--3TLkf {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.lifeEvent-module--formField--2GdK3 {
  box-sizing: border-box;
  width: 200px;
  padding: 0.5rem;
}

@media screen and (max-width: 750px) {
  .lifeEvent-module--formField--2GdK3 {
    width: 100%;
  }
}

@media screen and (min-width: 751px) {
  .lifeEvent-module--formField--2GdK3 {
    width: 50%;
  }
}

.lifeEvent-module--formField--2GdK3 input {
  border: 0;
  outline: 0;
  border-radius: 0.25rem;
  background: #fff;
  border: 2px solid var(--textLink);
  padding: 0.25rem;
  width: 100%;
}

.lifeEvent-module--formField--2GdK3 span {
  display: block;
  font-size: 0.8rem;
  font-weight: 700;
}

.lifeEvent-module--job--1n042 {
  margin-left: 2.5rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  border-radius: 10px;
  position: relative;
}

.lifeEvent-module--dot--2xDlj {
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  background: transparent;
  margin-left: -2rem;
  top: calc(50% - 0.6rem);
  color: transparent;
  border-radius: 50%;
  color: #fff;
  background: var(--bg);
  background-clip: padding-box;
  border: 2px solid transparent;
}

.lifeEvent-module--dot--2xDlj:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -2px;
  border-radius: inherit;
  background: linear-gradient(315deg, #e48a28, #cc4856 50%, #6e3a6c);
}

.lifeEvent-module--dot-current--1QCXJ {
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  background: transparent;
  margin-left: -2rem;
  top: calc(50% - 0.6rem);
  color: transparent;
  border-radius: 50%;
  color: #fff;
  background: var(--bg);
  background-clip: padding-box;
  border: 2px solid transparent;
  box-shadow: 0 0 0 0 #000;
  animation: lifeEvent-module--pulse--2OUsa 2s infinite;
}

.lifeEvent-module--dot-current--1QCXJ:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -2px;
  border-radius: inherit;
  background: linear-gradient(315deg, #e48a28, #cc4856 50%, #6e3a6c);
}

@keyframes lifeEvent-module--pulse--2OUsa {
  0% {
    box-shadow: 0 0 0 0 rgba(204, 72, 86, 0.7);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(204, 72, 86, 0);
  }
  to {
    box-shadow: 0 0 0 0 rgba(204, 72, 86, 0);
  }
}

.lifeEvent-module--info--1wkrS {
  font-size: 0.8rem;
  margin: 0;
  color: var(--lightText);
}

.lifeEvent-module--location--6B7o9 {
  margin-left: 1rem;
}

.lifeEvent-module--title--2f5XH {
  transition: opacity 0.3s ease-in-out;
  font-size: 1.1rem;
  margin-bottom: 0.2rem;
  color: var(--textNormal);
}

.lifeEvent-module--details--3wfGH {
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--lightText);
  margin: 0;
}

.skill-module--image--1OLK9 {
  display: inline-block;
  margin: 2rem 1rem;
  padding: 0;
  height: 130px;
  width: 130px;
  position: relative;
}

.skill-module--image--1OLK9 img {
  transition: transform 0.3s ease-in-out;
  margin: 0;
  padding: 0;
  transform: translateY(0);
  z-index: 1;
  border-radius: 8px;
}

.skill-module--image--1OLK9 div {
  transition: opacity 0.3s ease-in-out;
  transition-delay: 0.15s;
  opacity: 0;
}

.skill-module--image--1OLK9:hover img {
  transform: translateY(-4rem) perspective(400px) rotateX(45deg);
}

.skill-module--image--1OLK9:hover div {
  opacity: 1;
}

.skill-module--details--3s7QL {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  z-index: 0;
  font-weight: 700;
  color: var(--textNormal);
  margin-top: 2rem;
}

.skill-module--progressBar--3lkty {
  background: #ddd;
  width: 100%;
  padding: 2px 3px;
  border-radius: 4px;
}

.skill-module--progress--2K476 {
  background: linear-gradient(90deg, #e48a28 0, #cc4856 50%, #6e3a6c);
  height: 4px;
  border-radius: 2px;
}

.skill-module--progressNumber--2lWG3 {
  font-size: 0.8rem;
  color: var(--lightText);
}
